*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}


html{
	font-size: 62.5%;
}

/*@media(max-width:998px{
	html{
		font-size: 55%;
	}

}*/ 

@media(max-width:768px){
	html{
		font-size: 45%;
	
	}
}

/*@media(max-width:768px){
	.animated{
		animation-play-state: paused;}*/


.header{
	height: 10rem;
	width: auto;
	background-color: #189AB4;

	font-size: 2.2rem;
	font-family: 'Aclonica';
	color: white;
	line-height:1.5;

}



.left{
      padding-top: 2rem;
      position: relative;
      top:1.5rem;
      left: -2rem;
      animation: l 5s ease;
      animation-fill-mode: forwards;
      
     
}

.cream img{
	/*height: 10px;
	width: 10;*/
	
	right:-70rem;
	border-radius: 50%;
	position:absolute;
	animation: ice 5s ease;
	animation-fill-mode: forwards;
}



@keyframes ice{
      form{
		top:2rem;
        right:-70rem;
         
	}

	to{
		top:2rem;
		right:32rem;
	}
}

@keyframes l{
	form{
		top:1.5rem;
        left: -2rem;
	}

	to{
		top:1.5rem;
		left:50rem;
	}
}



.right{

	padding-top: 4rem;
    position: absolute;
    top:2rem;
    right: -49.5rem;
    animation: r 5s ease;
    animation-fill-mode: forwards;

}

@keyframes r{
	form{
		top:2rem;
        right:-20rem;
	}

	to{
		top:2rem;
		right:40rem;
	}
}

.intro{
	padding: 2rem;
	font-size: 2rem;
	font-family:'Aclonica' ;
	letter-spacing: .12rem;
	color: #05445E;


}
.container img{
    position: relative;
    padding: .1rem;
    border-radius: 10%;
    margin: 1rem;
    box-shadow: .5rem .5rem .5rem black;
    display: flex;
    align-items: start;
    justify-content: space-around;

    
}



/*.container img:hover {
	

}	
*/


.container{
	height: 50rem; 
	width: auto ;
	display: flex;
    justify-content:space-around; 
	flex-wrap:wrap;
/*	padding: 5px;*/

	
}
.container .container-up  .I1{
	font-size: 1.8rem;
    font-family:'Aclonica'  ;
    /*color:pink;
    text-decoration: none;*/
/*    position: relative;*/
    padding: 1rem;
    /*display: flex;
    justify-content: space-around;*/
        

}


.container .container-down  .I1{
	font-size: 1.8rem;
    font-family:'Aclonica'  ;
    color:pink;
/*    position: relative;*/
    padding: 1rem;
    /*text-align: center;
    
    align-items: center;*/
    /*display: flex;
    justify-content: space-around;*/


}

a:hover{
	color:#189AB4;
/*	font-size: 19px;*/
}


.container-up{
	height: 25rem;
	width: auto ;
	display: flex;
	justify-content:space-around;

}

.container-down{
	position: relative;
	height: 25rem;
	width: auto ;
	display: flex;
	justify-content:space-around;

	
}

.I1{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	
}

.i1{
	display: flex;
    justify-content: space-evenly;
	flex-wrap: wrap;
}

